.infdonfy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.infdonfy-infdonfy {
  width: 100%;
  height: 1614px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 244, 244, 1);
}
.infdonfy-pageheading {
  top: 112px;
  left: 0px;
  width: 1440px;
  height: 149px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 244, 244, 1);
}
.infdonfy-defaultchip {
  gap: 8px;
  top: 90px;
  left: 1214px;
  width: 130px;
  height: 40px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 66, 41, 1);
}
.infdonfy-text {
  top: 9.5px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text02 {
  top: 36px;
  left: 356px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-divider {
  top: 149px;
  left: 96px;
  width: 1248px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.infdonfy-tomato {
  top: 295px;
  left: 96px;
  width: 1248px;
  height: 1035px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  background-color: rgba(250, 250, 245, 1);
}
.infdonfy-text04 {
  top: 419px;
  left: 69px;
  color: rgba(0, 66, 41, 1);
  width: 1110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text06 {
  top: 647px;
  left: 69px;
  color: rgba(0, 66, 41, 1);
  width: 1110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text08 {
  top: 898px;
  left: 69px;
  color: rgba(0, 66, 41, 1);
  width: 1110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-imagen12 {
  top: 21px;
  left: 366px;
  width: 516px;
  height: 371px;
  position: absolute;
}
.infdonfy-text10 {
  top: 551px;
  left: 69px;
  color: rgba(0, 66, 41, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text12 {
  top: 801px;
  left: 69px;
  color: rgba(0, 66, 41, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.infdonfy-label {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 77, 41, 0.8999999761581421);
}
.infdonfy-group1 {
  top: 44px;
  left: 718px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-chevrondown {
  top: 0px;
  left: 54px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.infdonfy-text14 {
  top: 2px;
  color: rgba(245, 244, 244, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-group3 {
  top: 44px;
  left: 826px;
  width: 71px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-chevrondown1 {
  top: 0px;
  left: 47px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.infdonfy-text16 {
  top: 1.5px;
  color: rgba(245, 244, 244, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-group4 {
  top: 44px;
  left: 927px;
  width: 141px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-chevrondown2 {
  top: 0px;
  left: 117px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.infdonfy-text18 {
  top: 1.5px;
  color: rgba(245, 244, 244, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-group2 {
  top: 44px;
  left: 1098px;
  width: 87px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-chevrondown3 {
  top: 0px;
  left: 63px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.infdonfy-text20 {
  top: 1.5px;
  color: rgba(230, 230, 230, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-cartbutton {
  gap: 8px;
  top: 32px;
  left: 1215px;
  width: 126px;
  height: 48px;
  display: flex;
  padding: 14px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 66, 41, 1);
}
.infdonfy-text22 {
  top: 13.5px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-imagen9 {
  top: 0px;
  left: 99px;
  width: 112px;
  height: 112px;
  position: absolute;
}
.infdonfy-piepag {
  top: 1364px;
  left: 0px;
  width: 1440px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-pie {
  top: 200px;
  left: 0px;
  width: 1440px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(225, 210, 154, 1);
}
.infdonfy-text24 {
  top: 14px;
  left: 646px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-rectangle10 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 200px;
  position: absolute;
}
.infdonfy-imagen10 {
  top: 29px;
  left: 99px;
  width: 87px;
  height: 87px;
  position: absolute;
}
.infdonfy-text26 {
  top: 109px;
  left: 1225px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text28 {
  top: 57px;
  left: 1225px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-frameiconthumbsup {
  top: 55px;
  left: 1186px;
  width: 26.5714054107666px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-vector {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.infdonfy-frameiconphone {
  top: 114px;
  left: 1186px;
  width: 27px;
  height: 27.053598403930664px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.infdonfy-vector1 {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.infdonfy-text30 {
  top: 29px;
  left: 700px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text32 {
  top: 29px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text34 {
  top: 29px;
  left: 300px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text36 {
  top: 70px;
  left: 300px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text38 {
  top: 70px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text40 {
  top: 98px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text42 {
  top: 70px;
  left: 700px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.infdonfy-text44 {
  top: 98px;
  left: 300px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
