body {
    background-color:#004229 ; 
}



.informacion_previa { 
    background-color: #E1D29A;
    transition: background-color 0.5s;
}


.menu{
    list-style: none; /* Quita los puntos de la lista */
    display: flex; /* Convierte la lista en un contenedor flexbox */
    justify-content: space-around; /* Distribuye los elementos de la lista*/
    background-color: #E1D29A ; /* Color de fondo del índice */
    padding: 10px;
    margin: 30px 0;
    font-family:"Roboto", sans-serif;
}

.menu a {
    text-decoration: none;
}

.menu li:nth-child(n) a {
    color: #f5f4f4 ;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f5f4f4;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 0; /* Elimina el margen superior */
    vertical-align: middle; /* Alinea verticalmente con los elementos de la lista */
}

.btn-neon:hover{
    background: #004229;
    box-shadow: 0 0 10px #00351D, 0 0 40px #004229, 0 0 80px #00351D;
    transition-delay: 0.5s;
 }

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#004229);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 0.5s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#004229);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 0.5s; 
    transition-delay: 0.25s; /
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#004229);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 0.5s; 
    transition-delay: 0.2s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#004229);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.45s;
}

.informacion_previa {
    text-align: center; /* Centra horizontalmente el contenido */
}

.image-container {
    display: inline-block;
    margin-right: 20px; /* Margen a la derecha de la imagen */
    margin-left: 20px; /* Margen a la izquierda de la imagen */
}

#logo2 {
    width: 200px;
    vertical-align: middle;
    margin-right: 10px; /* Margen a la derecha de la imagen y el título */
    margin-bottom: 20px; /* Margen inferior de la imagen */
}

#Frase_llamativa {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}


.btn-neon2 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #f5f4f4;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 60px;
}
.btn-neon2:hover{
    background: #004229;
    box-shadow: 0 0 10px #004229, 0 0 40px #004229, 0 0 80px #004229;
    transition-delay: 0.5s;
 }
.btn-neon2 span{
    position: absolute;
    display: block;
}
#span5{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#004229);
 }
 .btn-neon2:hover #span5{
    left: 100%;
    transition: 0.5s;
}
 #span6{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#004229);
}
 .btn-neon2:hover #span6{
    right: 100%;
    transition: 0.5s; 
    transition-delay: 0.25s; /
}
#span7{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#004229);
}
.btn-neon2:hover #span7{
    top: 100%;
    transition: 0.5s; 
    transition-delay: 0.2s;
}
#span8{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#004229);
}
.btn-neon2:hover #span8{
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.45s;
}
.rectangulo {
    display: flex;
    background-color: #E1D29A;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.imagen-derecha {
    flex: 1;
    text-align: center;
}

.imagen-derecha img {
    width: 300px; /* Define el ancho deseado en píxeles */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
}

.contenido-izquierda {
    flex: 1;
    padding-left: 20px;
}

.rectangulo h2 {
    font-size: 24px;
    margin-top: 0;
}

.rectangulo p {
    font-size: 16px;
    display: inline-block;
}

.boton-conocer-mas {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #004229;
    color: #f5f4f4;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.2s;
}

.boton-conocer-mas:hover {
    background-color: #00351D; /* Cambia el color de fondo al poner el cursor encima */
}

